.info{
	margin-top: 0px;
	font-weight: 300;
	color: #262626;
	display: inline;
}
.info ~ hr{
	margin-bottom: 15px;
}
div .input-field{
	margin-top: 8px;
}
#profile_image_input{
	visibility: hidden;
	display: none;
}
#remove-pic-button{
	margin-top: 15px;
	margin-bottom: 0px;
}
@media screen and (max-width: 600px){
	#last_name_container{
		padding-left: 3.8rem;
	}
	#last_name_container label{
		padding-left: 3.8em;
	}
}